/* Main */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.main-pic {
  transform: rotate(20deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Nav */
.navbar-brand {
  font-size: 4rem;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.navbar {
  padding: 0 0 4rem;
}

/* Buttons */
.dload-btn {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c88;
}

.feature-box {
  padding: 5%;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* Call to action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.foot-fab {
  padding: 2% 0.5%;
}

/* Media */
@media (max-width: 1024px) {

  #title {
    text-align: center;
  }

  .main-pic {
    position: static;
    transform: rotate(0);
  }
}
